# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.ControlWork1.iml
# Datasource local storage ignored files
/../../../../../../:\Rider Projects\ControlWork1\.idea\.idea.ControlWork1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
